@page "/fetchdata"
@inject HttpClient Http

<PageTitle>TMDB api</PageTitle>

<h1>TMDB data</h1>

<p>fetch data?</p>

@if (movies[0] == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>title</th>
                <th>release date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.original_title</td>
                    <td>@movie.release_date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Movie> movies = new List<Movie>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<JsonElement>(
            "https://api.themoviedb.org/3/movie/550?api_key=1422303e78dc4243889e6e549813ff6d"
            );

        Movie one = new Movie();

        one.original_title = response.GetProperty("original_title").ToString();
        one.release_date = Convert.ToDateTime(response.GetProperty("release_date").ToString());

        movies.Add(one);
    }

    public class Movie
    {
        public string? original_title { get; set; }
        public DateTime release_date { get; set;}


    }
}
